/*  your css code here. If applicable */
body{
	background-color:#f8f8f8;
}

.book-library{
	text-align: center;
}
.divider{
	background-color:white;
	height:25px;
}

.book{
	margin:20px auto;
}

.book img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:40%;
}
.book h2{
	margin:2px;
}
.book p{
	color:#777777;
	margin:0;	
}

.price-block{
	color:rgb(255, 255, 255);
	background-color:rgb(46, 204, 113);
	height:30px;
	text-align:center;
	padding:5px;
	margin-bottom:20px;
}